@import '../../utils/view-breakpoints.css';

:host {
  /**
   * @prop --container-background: Background of the inner container
   * @prop --container-padding: padding of the inner container
   */
  --container-background: none;
  --container-padding: 0;

  display: block;
}

#main-container {
  max-width: var(--content-max-width);
  margin: auto;
  background: var(--container-background);
  padding: var(--container-padding);
}