:host {
  display: block;
  width: 100%;
}

#outer-container {
  position: relative;
  width: 100%;
  padding-top: calc(var(--height-ratio) / var(--width-ratio) * 100%);
}

#inner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
