:host {
  /**
   * @prop --xs: The view breakpoint for xs.
   * @prop --sm: The view breakpoint for sm.
   * @prop --md: The view breakpoint for md.
   * @prop --lg: The view breakpoint for lg.
   * @prop --xl: The view breakpoint for xl.
   * @prop --xxl: The view breakpoint for xxl.
   */

  --xs: 0;
  --sm: 540;
  --md: 720;
  --lg: 960;
  --xl: 1140;
  --xxl: 1320;
}
